# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/shopstreamer?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"

# Google OAuth (optional for dev)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Barion (mocked for now)
BARION_POS_KEY=""
BARION_API_URL="https://api.test.barion.com"
